# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{- $name := promptString "Username for chezmoi" }}

{{- $git_name := promptString "Git username for the author/committer" }}
{{- $git_email := promptString "Git email address for the author/committer" }}

{{- $distro := promptString "What linux distro is this? debian/arch/fedora" }}

[gpg]
  recipient = "id for the encrypt key"

[data]
    name = "{{ $name }}"

    [data.git]
        name = "{{ $git_name }}"
        email = "{{ $git_email }}"

[install]
    distro = "{{ $distro }}"