#!/usr/bin/env sh

bgsource="https://www.hdwallpapers.in/download/colorful_smoke_with_mask_5k-HD.jpg"
bgdir="$HOME/Pictures/wallpapers"
bgloc="$bgdir/bg"


dlbg () {
  [ ! -d "$1" ] && mkdir -p "$1"
  bg="$1/$(basename "$2")"
  wget -O "$bg" "$1"
  return "$bg"
}


setbg () {
  [ -f "$1" ] && ln -sf "$(readlink -f "$1")" "$2"
  [ -d "$1" ] && ln -sf "$(find "$(readlink -f "$1")" \
    -iregex '.*.\(jpg\|jpeg\|png\|gif\)' -type f | shuf -n 1)" "$2"
  feh --bg-fill --no-fehbg "$2"
}


bgfile="dlbg $bgdir $bgsource"

setbg "$bgfile" "$bgloc"
