#!/usr/bin/env sh

#==============================================================================
# extra packages
#==============================================================================

# extra pkgs
sudo pacman --noconfirm --needed -S \
  acpi_call \
  # android-tools \
  # discord \
  # dos2unix \
  # firefox \
  ffmpeg \
  figlet \
  # gimp \
  imagemagick \
  highlight \
  httpie \
  # libreoffice-still \
  maim \
  nnn \
  # obs-studio \
  openssh \
  # pipes.sh \
  # speedtest-cli \
  sxiv \
  tlp-rdw \
  # transmission-cli \
  # tremc-git \
  udiskie \
  # unimatrix-git \
  # woeusb \
  # xarchiver \
  youtube-dl

# web browser
yay --noconfirm --needed -S \
  brave-bin \
  google-chrome

# utilities
yay --noconfirm --needed -S \
  dragon-drag-and-drop \
  lf \
  # qmk \
  simple-mtpfs \
  # screenkey \
  task-spooler
