#!/usr/bin/env bash

#==============================================================================
# Installing PostgreSQL and pgadmin
#==============================================================================

readonly USR_KEYRING_DIR="/usr/share/keyrings"
readonly APT_SOURCE_DIR="/etc/apt/sources.list.d"
readonly POSTGRESQL_SOURCE="$APT_SOURCE_DIR/postgresql.list"
readonly PGADMIN_SOURCE="$APT_SOURCE_DIR/pgadmin.list"

readonly POSTGRESQL_KEYRING_URL="https://www.postgresql.org/media/keys/ACCC4CF8.asc"
readonly POSTGRESQL_KEYRING_TMP="/tmp/postgresql"
readonly POSTGRESQL_KEYRING_GPG="/tmp/postgresql.gpg"

readonly PGADMIN_KEYRING_URL="https://www.pgadmin.org/static/packages_pgadmin_org.pub"
readonly PGADMIN_KEYRING_TMP="/tmp/pgadmin"
readonly PGADMIN_KEYRING_GPG="/tmp/pgadmin.gpg"

add_postgresql_keyring() {
  curl -sL $1 -o $2 || exit
  gpg --dearmor $2 || exit
  if [[ ! -f $3 ]]; then
    echo "/tmp/postgresql.gpg not found"
    exit
  fi
  echo "installig postgresql.gpg keyring"
  sudo install -Dm 644 $3 $4
}

add_pgadmin_keyring() {
  curl -sL $1 -o $2 || exit
  gpg --dearmor $2 || exit
  if [[ ! -f $3 ]]; then
    echo "/tmp/pgadmin.gpg not found"
    exit
  else
    echo "installig pgadmin.gpg keyring"
    sudo install -Dm 644 $3 $4
  fi
}

add_postgresql_source() {
  if [[ -f $1 ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding postgresql source"
  sudo tee $1 >/dev/null 2>&1 << _EOF_ &&
deb [arch=amd64 signed-by=/usr/share/keyrings/postgresql.gpg] http://apt.postgresql.org/pub/repos/apt bullseye-pgdg main
_EOF_
}

add_pgadmin_source() {
  if [[ -f $1 ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding pgadmin source"
  sudo tee $1 >/dev/null 2>&1 << _EOF_ &&
deb [arch=amd64 signed-by=/usr/share/keyrings/pgadmin.gpg] https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/bullseye pgadmin4 main
_EOF_
}

add_postgresql_keyring $POSTGRESQL_KEYRING_URL $POSTGRESQL_KEYRING_TMP $POSTGRESQL_KEYRING_GPG $USR_KEYRING_DIR

add_pgadmin_keyring $PGADMIN_KEYRING_URL $PGADMIN_KEYRING_TMP $PGADMIN_KEYRING_GPG $USR_KEYRING_DIR

add_postgresql_source $POSTGRESQL_SOURCE

add_pgadmin_source $PGADMIN_SOURCE