#!/usr/bin/env sh

#==============================================================================
# shell switch
#==============================================================================

# change shell
chsh -s /bin/zsh
# home
cd "$HOME" || exit
