#!/usr/bin/env sh

#==============================================================================
# install kmonad kbd
#==============================================================================

readonly SYSTEMD_UNIT="/etc/systemd/system/kmonad.service"
readonly BINARY_DIR="/usr/local/bin"
readonly KMONAD_TARGET="/etc/kmonad/config.kbd"
readonly UDEV_RULES="/etc/udev/rules.d/99-kmonad.rules"
readonly KMONAD_SRC_DIR="{{ .chezmoi.sourceDir }}/tweaks/etc/kmonad"
readonly KMONAD_BINARY_URL="https://github.com/kmonad/kmonad/releases/download/0.4.1/kmonad-0.4.1-linux"
# readonly KMONAD_SRC="colemak-dh-wide-extend-ansi.kbd"
readonly KMONAD_SRC="x230-ansi-us-colemak-dh-wide.kbd"

# install kmonad if not already installed
if command -v kmonad >/dev/null 2>&1; then
  echo "kmonad is already installed"
else
  echo "kmonad binary not found, installing..."
  # install kmonad
  curl -sL "$KMONAD_BINARY_URL" -o /tmp/kmonad
  sudo install -m 755 /tmp/kmonad "$BINARY_DIR"
fi

# install kmonad kbd config
sudo install -Dm 644 "$KMONAD_SRC_DIR/$KMONAD_SRC" "$KMONAD_TARGET"

# install systemd unit file
if [ -f "$SYSTEMD_UNIT" ]; then
  echo "kmonad systemd unit already exists"
else
  # find kmonad location
  kmonad_loc=$(which kmonad)
  echo "kmonad is at $kmonad_loc"
  if [ $kmonad_loc == "/usr/bin/kmonad" ]; then
    sudo tee "$SYSTEMD_UNIT" >/dev/null 2>&1 << _EOF_ &&
[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad %E/kmonad/config.kbd
Nice=-20

[Install]
WantedBy=default.target
_EOF_
  if [ $kmonad_loc == "/usr/local/bin/kmonad" ]; then
    sudo tee "$SYSTEMD_UNIT" >/dev/null 2>&1 << _EOF_ &&
[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/kmonad %E/kmonad/config.kbd
Nice=-20

[Install]
WantedBy=default.target
_EOF_
  fi
  sudo chmod 644 "$SYSTEMD_UNIT" &&
  echo "kmonad systemd unit created"
fi

# add group uinput
if getent group uinput >/dev/null 2>&1; then
  echo "uinput group already exists"
else
  sudo groupadd uinput &&
  echo "uinput group created"
fi

# adding user to uinput group
if id -nG "$USER" | grep -qw input; then
  echo "user is already a member of input group"
else
  sudo usermod -a -G input "$USER" &&
  echo "user is now a member of input group"
fi

# adding user to input group
if id -nG "$USER" | grep -qw uinput; then
  echo "user is already a member of uinput group"
else
  sudo usermod -a -G uinput "$USER" &&
  echo "user is now a member of uinput group"
fi

# create udev rule
if [ -f "$UDEV_RULES" ]; then
  echo "udev rules already exists"
else
  sudo tee "$UDEV_RULES" >/dev/null 2>&1 << _EOF_ &&
sudo tee $UDEV_RULES >/dev/null 2>&1 << _EOF_ &&
KERNEL=="uinput" \
, MODE="0660" \
, GROUP="uinput" \
, OPTIONS+="static_node=uinput"
_EOF_
  sudo chmod 644 "$UDEV_RULES" &&
  echo "udev rules created"
fi

sudo modprobe uinput

sudo systemctl enable kmonad.service
