#!/usr/bin/env bash

#==============================================================================
# install NVM (https://github.com/nvm-sh/nvm)
#==============================================================================

readonly NVM_INSTALLER="/tmp/install_nvm.sh"
readonly NVM_VERSION="v0.39.1"
readonly NVM_URL="https://raw.githubusercontent.com/nvm-sh/nvm/$NVM_VERSION/install.sh"
export NVM_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/nvm"

install_nvm() {
  # install nvm if not already installed
  if [[ -d "$NVM_DIR" ]] || command -v nvm >/dev/null 2>&1; then
    echo "nvm is already installed"
    exit
  fi
  echo "nvm binary not found, installing..."
  mkdir "$NVM_DIR" || exit
  # install nvm
  curl -sL "$1" -o "$2" || exit
  bash "$2" || exit
  rm "$2"
}

install_nvm "$NVM_URL" "$NVM_INSTALLER"

[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm

nvm install --lts  # install lts