#!/usr/bin/env bash

#==============================================================================
# Installing Nerd Fonts
#==============================================================================

readonly FONTDIR="$HOME/.local/share/fonts"
readonly NERDFONT_URL="https://github.com/ryanoasis/nerd-fonts/releases/latest/download"

TEMP="/tmp"

fonts=(
  "FiraCode"
  "Go-Mono"
  "Hack"
  "Inconsolata"
  "Iosevka"
  "JetBrainsMono"
  "Mononoki"
  "RobotoMono"
  "SourceCodePro"
)

mkdir -p $FONTDIR

for font in "${fonts[@]}";
do
  # check whether font is already installed
  if [[ -d "$FONTDIR/$font" ]]; then
    echo "Font $font is already installed"
    continue
  fi
  # check whether font archive has been downloaded
  if [[ -f "$TEMP/$font.tar.xz" ]]; then
    echo "Font $font archive already exists"
    # delete existing archive
    rm "$TEMP/$font.tar.xz"
  fi
  # download font
  echo "Installing Font $font"
  curl --location "$NERDFONT_URL/$font.tar.xz" --progress-bar --output "$TEMP/$font.tar.xz"
  # extract font
  mkdir -p "$FONTDIR/$font"
  tar -xf "$TEMP/$font.tar.xz" --exclude '*.txt' --exclude '*.md' -C "$FONTDIR/$font"
done

fc-cache -f
