#!/usr/bin/env sh

#==============================================================================
# list of packages
#==============================================================================

#◦◝◟∘◞◜◦ microcode / drivers / extras
sudo pacman --noconfirm --needed -S \
    bluez \
    bluez-libs \
    bluez-utils \
    cups \
    dosfstools \
    exfat-utils \
    ntfs-3g \
    # nvidia-lts
