#!/usr/bin/env sh

#==============================================================================
# install doom-emacs
#==============================================================================

readonly SYSTEMD_UNIT="${XDG_CONFIG_HOME:-$HOME/.config}/systemd/user/emacs.service"
readonly EMACS_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/emacs" 
readonly DOOM_GIT="https://github.com/hlissner/doom-emacs.git"

install_doom() {
  if [ -d "$2" ]; then
    echo "$2 already existed"
    echo "no changes were performed"
  else
    git clone --depth 1 "$1" "$2" || exit
    "$2"/bin/doom install --force --no-config --env --install --fonts --hooks
  fi
}

# sudo pacman -S --noconfirm --needed emacs

install_doom "$DOOM_GIT" "$EMACS_DIR"

# install systemd unit file
if [ -f "$SYSTEMD_UNIT" ]; then
  echo "emacs systemd unit already exists"
else
  tee "$SYSTEMD_UNIT" >/dev/null 2>&1 << _EOF_
[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs/

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target
_EOF_
  echo "emacs systemd unit created"
fi

systemctl enable --user emacs
systemctl start --user emacs
