#!/usr/bin/env bash

#==============================================================================
# Installing NordVPN
#==============================================================================

readonly USR_KEYRING_DIR="/usr/share/keyrings"
readonly APT_SOURCE_DIR="/etc/apt/sources.list.d"

readonly NORDVPN_KEYRING_URL="https://repo.nordvpn.com/gpg/nordvpn_public.asc"
readonly NORDVPN_KEYRING_GPG="/tmp/nordvpn.gpg"
readonly NORDVPN_KEYRING_DEST="$USR_KEYRING_DIR/nordvpn-keyring.gpg"
readonly NORDVPN_SOURCE="$APT_SOURCE_DIR/nordvpn.list"
readonly NORDVPN_CONTENT="deb [arch=amd64 signed-by=/usr/share/keyrings/nordvpn-keyring.gpg] https://repo.nordvpn.com/deb/nordvpn/debian stable main"

add_apt_keyring() {
  if [[ -f "$3" ]]; then
    echo "$3 already exists"
    exit
  fi
  curl -sL "$1" | gpg --dearmor > "$2" || exit
  echo "installing keyring to $3"
  sudo install -o root -g root -Dm 644 "$2" "$3"
}

add_apt_source() {
  if [[ -f "$1" ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding apt source to $1"
  sudo tee "$1" >/dev/null 2>&1 << _EOF_ &&
$2
_EOF_
  sudo chmod 644 "$1"
}

add_apt_keyring "$NORDVPN_KEYRING_URL" "$NORDVPN_KEYRING_GPG" "$NORDVPN_KEYRING_DEST"
add_apt_source "$NORDVPN_SOURCE" "$NORDVPN_CONTENT"

sudo apt-get update 
sudo apt-get install nordvpn