#!/usr/bin/env sh

#==============================================================================
# install kmonad kbd
#==============================================================================

readonly SYSTEMD_UNIT="/etc/systemd/kmonad.service"
readonly KMONAD_TARGET="/etc/kmonad/config.kbd"
readonly KMONAD_SRC_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/kmonad"
readonly KMONAD_SRC="colemak-dh-wide-extend-ansi.kbd"

sudo install -Dm 644 "$KMONAD_SRC_DIR/$KMONAD_SRC" "$KMONAD_TARGET"

if [ -f "$SYSTEMD_UNIT" ]; then
  echo "kmonad systemd unit already exists"
  echo "no changes were performed"
  exit
else
  sudo tee "$SYSTEMD_UNIT" >/dev/null 2>&1 << _EOF_ &&
[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/kmonad %E/kmonad/config.kbd
Nice=-20

[Install]
WantedBy=default.target
_EOF_
  sudo chmod 644 "$SYSTEMD_UNIT" &&
  echo "kmonad systemd unit created"
fi
