#!/usr/bin/env sh

#==============================================================================
# services
#==============================================================================

LIBINPUT_DIR="/etc/libinput"
UDEV_DIR="/etc/udev/rules.d"
XORG_DIR="/etc/X11/xorg.conf.d"

# install_tweak(){
#     sudo install -Dm 644 "$1" "$2"
# }

# sudo mkdir -p "$LIBINPUT_DIR"
sudo mkdir -p "$UDEV_DIR"
sudo mkdir -p "$XORG_DIR"

# sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/libinput/local-overrides.quirks" "$LIBINPUT_DIR"
sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/udev/rules.d/10-trackpoint.rules" "$UDEV_DIR"
sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/X11/xorg.conf.d/20-intel.conf" "$XORG_DIR"
sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/X11/xorg.conf.d/20-trackpoint.conf" "$XORG_DIR"
sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/X11/xorg.conf.d/30-touchpad.conf" "$XORG_DIR"
sudo install -Dm 644 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/X11/xorg.conf.d/50-mouse-acceleration.conf" "$XORG_DIR"
