#!/usr/bin/env sh

#==============================================================================
# install doom-emacs
#==============================================================================

readonly EMACS_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/emacs" 
readonly DOOM_GIT="https://github.com/hlissner/doom-emacs.git"

install_doom() {
  if [ -d "$2" ]; then
    echo "$2 already existed"
    echo "no changes were performed"
  else
    git clone --depth 1 "$1" "$2" || exit
    "$2"/bin/doom install --force --no-config --env --install --fonts --hooks
  fi
}

sudo pacman -S --noconfirm --needed emacs

install_doom "$DOOM_GIT" "$EMACS_DIR"
