#!/usr/bin/env sh
{{ if ne .chezmoi.os "windows" -}}
# -*-mode:sh-*- vim:ft=shell-script

# ~/.local/share/chezmoi/run_once_85-install-doom-emacs.sh.tmpl
# ============================================================================
# Runs after `chezmoi apply` to install doom-emacs configureation file.
#
# This script clone the chemacs and doom emacs repository to its proper
# destination. Chezmoi will skip this script on other Windows.
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

readonly src_dir="$HOME/.local/src"
readonly doom_git="https://github.com/hlissner/doom-emacs"
readonly chemacs_git="https://github.com/plexus/chemacs"


clone_git() {
  [ ! -d "$2" ] && mkdir -p "$2"
  clone_dir="$2/$(basename "$1")"
  [ ! -d "$clone_dir" ] &&
  git clone --depth 1 "$1.git" "$clone_dir"
}


install_chemacs() {
  echo "Installing chemacs"
  clone_git "$chemacs_git" "$src_dir"
  cd "$clone_dir" || exit
  ./install.sh
}


install_doom() {
  echo "Installing doom-emacs"
  clone_git "$doom_git" "$src_dir"
  "$clone_dir/bin/doom" install
}


install_chemacs

install_doom

{{- end }}
