#!/usr/bin/env sh

#==============================================================================
# list of packages
#==============================================================================

#◦◝◟∘◞◜◦ microcode / drivers / extras
sudo pacman -S --needed --noconfirm \
    bluez \
    bluez-libs \
    bluez-utils \
    cups \
    dosfstools \
    exfat-utils \
    intel-ucode \
    ntfs-3g

# nvidia-lts
