#!/usr/bin/env sh

#==============================================================================
# download and set wallpaper
#==============================================================================

readonly WALL_SOURCE="https://www.hdwallpapers.in/download/colorful_smoke_with_mask_5k-HD.jpg"
readonly WALL_DIR="$HOME/Pictures/wallpapers"
readonly WALL_LOC="$WALL_DIR/wall"


dl_wall() {
	[ ! -d "$2" ] && mkdir -p "$2" && echo "create folder $2"
	wall="$2/$(basename "$1")"
	[ ! -f "$wall" ] && wget -O "$wall" "$1" && echo "wallpaper downloaded"
}


set_wall() {
	[ -f "$1" ] && ln -sf "$(readlink -f "$1")" "$2"
	[ -d "$1" ] && ln -sf "$(find "$(readlink -f "$1")" \
		-iregex '.*.\(jpg\|jpeg\|png\|gif\)' -type f | shuf -n 1)" "$2"
	pidof Xorg >/dev/null 2>&1 && feh --bg-fill --no-fehbg "$2"
}

err() {
	echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $*" >&2
}


dl_wall "$WALL_SOURCE" "$WALL_DIR"

set_wall  "$WALL_DIR" "$WALL_LOC"
