#!/usr/bin/env sh
#
# ~/.local/share/chezmoi/run_once_90-set-wallpaper.tmpl
# ============================================================================
# Runs after `chezmoi apply` to download and set the desktop wallpaper.
#
# This script downloads the image provided to the wallpaper directory.
# Chezmoi will only run this script on Linux.
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

readonly wall_source="https://www.hdwallpapers.in/download/colorful_smoke_with_mask_5k-hd.jpg"
readonly wall_dir="$HOME/Pictures/wallpapers"
readonly wall_loc="$wall_dir/wall"


dl_wall() {
  [ ! -d "$1" ] && mkdir -p "$1"
  wall="$1/$(basename "$2")"
  [ ! -f "$wall" ] && wget -O "$wall" "$1"
  return "$wall"
}


set_wall() {
  [ -f "$1" ] && ln -sf "$(readlink -f "$1")" "$2"
  [ -d "$1" ] && ln -sf "$(find "$(readlink -f "$1")" \
    -iregex '.*.\(jpg\|jpeg\|png\|gif\)' -type f | shuf -n 1)" "$2"
  feh --bg-fill --no-fehbg "$2"
}

err() {
  echo "[$(date +'%Y-%m-%dT%H:%M:%S%z')]: $*" >&2
}


dl_wall "$wall_dir" "$wall_source"

set_wall "$wall_dir" "$wall_loc"
