#!/usr/bin/env sh

dlbg() {
  url="$1"
  bgdir="$HOME/Pictures/wallpapers"
  bg="$bgdir/$(basename "$1")"
  bgloc="$bgdir/bg"

  [ -d "$bgdir" ] || mkdir -p "$bgdir"

  wget -O "$bg" "$url"

  [ -f "$bg" ] && ln -sf "$(readlink -f "$bg")" "$bgloc"

  feh --bg-fill --no-fehbg "$bgloc"

}

dlbg "https://www.hdwallpapers.in/download/colorful_smoke_with_mask_5k-HD.jpg"
