#!/usr/bin/env sh

dll() {
  wget -O ~/Pictures/wallpapers/"$1" "$2"

}

[ -d ~/Pictures/wallpapers ] || mkdir -p ~/Pictures/wallpapers

dll bg.jpg https://images.wallpaperscraft.com/image/space_sky_stars_79233_2560x1440.jpg

feh --bg-fill --no-fehbg ~/Pictures/wallpapers/bg.jpg
