#!/usr/bin/env sh

#==============================================================================
# shell switch
#==============================================================================

# change shell
# test
if [ "$(basename "$SHELL")" = "zsh" ]; then
  echo "default shell is already zsh"
  echo "no changes were performed"
else
  chsh -s $(which zsh)
fi
# home
cd "$HOME" || exit
