#!/usr/bin/env bash

#==============================================================================
# Installing exa completion
#==============================================================================

readonly EXA_BASH_URL="https://raw.githubusercontent.com/ogham/exa/master/completions/bash/exa"
readonly EXA_FISH_URL="https://raw.githubusercontent.com/ogham/exa/master/completions/fish/exa.fish"
readonly EXA_ZSH_URL="https://raw.githubusercontent.com/ogham/exa/master/completions/zsh/_exa"

readonly EXA_BASH="/tmp/exa"
readonly EXA_FISH="/tmp/exa.fish"
readonly EXA_ZSH="/tmp/_exa"

readonly EXA_BASH_DIR="/etc/bash_completion.d/exa"
readonly EXA_FISH_DIR="/usr/share/fish/vendor_completions.d/exa.fish"
readonly EXA_ZSH_DIR="/usr/local/share/zsh/site-functions/_exa"

download_completion() {
  curl -sL "$1" -o "$2"
}

install_completion() {
  if [[ -f "$3" ]]; then
    echo "$3 already installed"
    return
  fi
  if [[ -f "$2" ]]; then
    echo "deleting temp file"
    rm -rf "$2"
  fi
  download_completion "$1" "$2"
  sudo install -Dm 644 "$2" "$3"
}

if ! command -v exa >/dev/null 2>&1; then
  echo "exa could not be found"
  exit
fi

install_completion "$EXA_BASH_URL" "$EXA_BASH" "$EXA_BASH_DIR"
install_completion "$EXA_FISH_URL" "$EXA_FISH" "$EXA_FISH_DIR"
install_completion "$EXA_ZSH_URL" "$EXA_ZSH" "$EXA_ZSH_DIR"