# Enable homebrew.
find_and_init_brew

{{- if eq .chezmoi.os "darwin" }}
init_pathprepend "$(brew --prefix coreutils)"/libexec/gnubin
init_pathprepend "$(brew --prefix findutils)"/libexec/gnubin
init_pathprepend "$(brew --prefix ed)"/libexec/gnubin
init_pathprepend "$(brew --prefix gawk)"/libexec/gnubin
init_pathprepend "$(brew --prefix grep)"/libexec/gnubin
init_pathprepend "$(brew --prefix gnu-sed)"/libexec/gnubin
init_pathprepend "$(brew --prefix gnu-tar)"/libexec/gnubin
init_pathprepend "$(brew --prefix make)"/libexec/gnubin
{{- end }}

init_pathprepend "$(brew --prefix rustup)"/bin PATH

