[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/modprobe uinput
ExecStart=/usr/bin/sh -c "exec /home/linuxbrew/.linuxbrew/bin/kanata --quiet --cfg /home/nikki/.config/kanata/kanata.kbd"
Restart=no

[Install]
WantedBy=multi-user.target
