# -*-mode:conf-toml-*- vim:ft=toml

# ~/.local/share/chezmoi/.chezmoi.toml.tmpl
# =============================================================================
# Used to customize configuration when doing a `chezmoi init`.
#
# This template file will trigger prompts to fill-in machine-specific
# templateable values. The resulting file is then created at
# `~/.config/chezmoi/chezmoi.toml`
# See https://www.chezmoi.io/docs/how-to/
#
# {{- /* This file supports Go's text/template language. */}}

{{- $name := promptString "Username for chezmoi" }}

{{- $git_name := promptString "Git username for the author/committer" }}
{{- $git_email := promptString "Git email address for the author/committer" }}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[gpg]
  recipient = "id for the encrypt key"

[data]
  name = {{ $name | quote }}
  osid = {{ $osID | quote }}
  
  [data.git]
    name = {{ $git_name | quote }}
    email = {{ $git_email | quote }}
