#!/usr/bin/env bash

#==============================================================================
# Installing OpenVPN3
#==============================================================================

readonly USR_KEYRING_DIR="/usr/share/keyrings"
readonly APT_SOURCE_DIR="/etc/apt/sources.list.d"

readonly OPENVPN_KEYRING_URL="https://packages.openvpn.net/packages-repo.gpg"
readonly OPENVPN_KEYRING_GPG="/tmp/openvpn.gpg"
readonly OPENVPN_KEYRING_DEST="$USR_KEYRING_DIR/openvpn-archive-keyring.gpg"
readonly OPENVPN_SOURCE="$APT_SOURCE_DIR/openvpn3.list"
readonly OPENVPN_CONTENT="deb [arch=amd64 signed-by=/usr/share/keyrings/openvpn-archive-keyring.gpg] https://packages.openvpn.net/openvpn3/debian trixie main"

add_apt_keyring() {
  if [[ -f "$3" ]]; then
    echo "$3 already exists"
    exit
  fi
  curl -sL "$1" | gpg --dearmor > "$2" || exit
  echo "installing keyring to $3"
  sudo install -o root -g root -Dm 644 "$2" "$3"
}

add_apt_source() {
  if [[ -f "$1" ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding apt source to $1"
  sudo tee "$1" >/dev/null 2>&1 << _EOF_ &&
$2
_EOF_
  sudo chmod 644 "$1"
}

add_apt_keyring "$OPENVPN_KEYRING_URL" "$OPENVPN_KEYRING_GPG" "$OPENVPN_KEYRING_DEST"
add_apt_source "$OPENVPN_SOURCE" "$OPENVPN_CONTENT"

sudo apt-get update
sudo apt-get install -y openvpn3
