#!/usr/bin/env bash

#==============================================================================
# Installing Wezterm
#==============================================================================

readonly USR_KEYRING_DIR="/usr/share/keyrings"
readonly APT_SOURCE_DIR="/etc/apt/sources.list.d"

readonly WEZTERM_KEYRING_URL="https://apt.fury.io/wez/gpg.key"
readonly WEZTERM_KEYRING_GPG="/tmp/wezterm-fury.gpg"
readonly WEZTERM_KEYRING_DEST="$USR_KEYRING_DIR/wezterm-fury.gpg"
readonly WEZTERM_SOURCE="$APT_SOURCE_DIR/wezterm.list"
readonly WEZTERM_CONTENT="deb [arch=amd64 signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez * *"

add_apt_keyring() {
  if [[ -f "$3" ]]; then
    echo "$3 already exists"
    exit
  fi
  curl -sL "$1" | gpg --dearmor --output "$2" || exit
  echo "installing keyring to $3"
  sudo install -o root -g root -Dm 644 "$2" "$3"
}

add_apt_source() {
  if [[ -f "$1" ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding apt source to $1"
  sudo tee "$1" >/dev/null 2>&1 << _EOF_ &&
$2
_EOF_
  sudo chmod 644 "$1"
}

add_apt_keyring "$WEZTERM_KEYRING_URL" "$WEZTERM_KEYRING_GPG" "$WEZTERM_KEYRING_DEST"
add_apt_source "$WEZTERM_SOURCE" "$WEZTERM_CONTENT"

sudo apt-get update
sudo apt-get install -y wezterm
