#!/usr/bin/env bash

#==============================================================================
# Installing Google Chrome
#==============================================================================

readonly USR_KEYRING_DIR="/usr/share/keyrings"
readonly APT_SOURCE_DIR="/etc/apt/sources.list.d"

readonly CHROME_KEYRING_URL="https://dl.google.com/linux/linux_signing_key.pub"
readonly CHROME_KEYRING_GPG="/tmp/google-chrome.gpg"
readonly CHROME_KEYRING_DEST="$USR_KEYRING_DIR/google-chrome.gpg"
readonly CHROME_SOURCE="$APT_SOURCE_DIR/google-chrome.list"
readonly CHROME_CONTENT="deb [arch=amd64 signed-by=/usr/share/keyrings/google-chrome.gpg] https://dl.google.com/linux/chrome/deb stable main"

add_apt_keyring() {
  if [[ -f "$3" ]]; then
    echo "$3 already exists"
    exit
  fi
  curl -sL "$1" | gpg --dearmor > "$2" || exit
  echo "installing keyring to $3"
  sudo install -o root -g root -Dm 644 "$2" "$3"
}

add_apt_source() {
  if [[ -f "$1" ]]; then
    echo "$1 already exists"
    exit
  fi
  echo "adding apt source to $1"
  sudo tee "$1" >/dev/null 2>&1 << _EOF_ &&
$2
_EOF_
  sudo chmod 644 "$1"
}

add_apt_keyring "$CHROME_KEYRING_URL" "$CHROME_KEYRING_GPG" "$CHROME_KEYRING_DEST"
add_apt_source "$CHROME_SOURCE" "$CHROME_CONTENT"

sudo apt-get update
sudo apt-get install -y google-chrome-stable
