#!/usr/bin/env sh

#==============================================================================
# install opendoas
#==============================================================================

ETC_DIR="/etc"

sudo pacman -S --noconfirm --needed opendoas

sudo install -o root -g root -Dm 400 "${XDG_DATA_HOME:-$HOME/.local/share}/chezmoi/tweaks/etc/doas.conf" "$ETC_DIR"