# Personal information
export NAME='{{ .name }}'
export EMAIL='{{ .email }}'

# Preferred programs
export PAGER=less
export EDITOR=nvim
export VISUAL=nvim

export CVS_RSH=ssh
export RSYNC_RSH=ssh

# Language
export LANG='en_US.UTF-8'
export LC_ALL=$LANG
export LC_COLLATE=$LANG
export LC_CTYPE=$LANG
export LC_MESSAGES=$LANG
export LC_MONETARY=$LANG
export LC_NUMERIC=$LANG
export LC_TIME=$LANG

# Python
# export PYTHONSTARTUP="${XDG_CONFIG_HOME:-$HOME/.config}/python/pythonrc.py"

# Less
export LESS='-F -g -i -M -R -S -w -z-4'
# export LESS='-R'
export LESSCHARSET='UTF-8'
export LESSHISTFILE='-'
export LESSEDIT="$EDITOR ?lm+%lm. %f"

# enable the X Compose key in GTK
export GTK_IM_MODULE=xim

if command -v lesspipe >/dev/null 2>&1; then
    eval "$(lesspipe)"
elif command -v lesspipe.sh >/dev/null 2>&1; then
    export LESSOPEN="|lesspipe.sh %s"
fi

# Path settings
pathprepend "/usr/sbin" PATH
pathprepend "/usr/local/sbin" PATH
pathprepend "/sbin" PATH
init_pathprepend "/usr/local/go/bin" PATH
init_pathprepend "/usr/local/plan9/bin" PATH
init_pathprepend "/usr/lib/w3m" PATH
pathprepend /usr/local/man MANPATH
pathprepend /usr/share/man MANPATH
pathprepend "$HOME/share/man" MANPATH
pathprepend "$HOME/lib" LD_LIBRARY_PATH
pathprepend "$HOME/include" CPATH

# The current directory should never be in $PATH
pathremove . PATH
pathremove "" PATH

ssource "${XDG_CONFIG_HOME:-$HOME/.config}/shell/login_local"
