# XDG Base Directory
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_DATA_DIRS="/usr/local/share:/usr/share"
export XDG_CONFIG_DIRS="/etc/xdg"

# Desktop Applications
pathprepend "/var/lib/snapd/desktop" XDG_DATA_DIRS  # snap
pathprepend "$HOME/.nix-profile/share" XDG_DATA_DIRS  # nix
pathprepend "/var/lib/flatpak/exports/share" XDG_DATA_DIRS  # flatpak
pathprepend "${XDG_DATA_HOME:-$HOME/.local/share}/flatpak/exports/share" XDG_DATA_DIRS  # flatpak

# Preferred programs
export TERM=xterm-256color
export TERMINAL=kitty
export READER=zathura
export VIDEO=mpv
export IMAGE=sxiv
export FILE=nnn
export COLORTERM=truecolor
export OPENER=xdg-open

# ~/ Clean-up:
#export XAUTHORITY="$XDG_RUNTIME_DIR/Xauthority" # This line will break some DMs.
export BASH_COMPLETION_USER_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/bash-completion/bash_completion"
export NOTMUCH_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/notmuch/notmuchrc"
export NMBGIT="${XDG_DATA_HOME:-$HOME/.local/share}/notmuch/nmbug"
export GTK2_RC_FILES="${XDG_CONFIG_HOME:-$HOME/.config}/gtk-2.0/gtkrc-2.0"
export WGETRC="${XDG_CONFIG_HOME:-$HOME/.config}/wget/wgetrc"
export INPUTRC="${XDG_CONFIG_HOME:-$HOME/.config}/readline/inputrc"
export HTTPIE_CONFIG_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/httpie"
export ALSA_CONFIG_PATH="${XDG_CONFIG_HOME:-$HOME/.config}/alsa/asoundrc"
export KODI_DATA="${XDG_DATA_HOME:-$HOME/.local/share}/kodi"
export PASSWORD_STORE_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/pass"
export TMUX_TMPDIR="$XDG_RUNTIME_DIR"
export GOKU_EDN_CONFIG_FILE="${XDG_CONFIG_HOME:-$HOME/.config}/karabiner/karabiner.edn"
export STARSHIP_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}/starship/config.toml"
export FFMPEG_DATADIR="${XDG_CONFIG_HOME:-$HOME/.config}/ffmpeg"

# GnuPG
# export GNUPGHOME="${XDG_DATA_HOME:-$HOME/.local/share}/gnupg"

# Other program settings:
export DICS="/usr/share/stardict/dic/"
export LESSOPEN="| /usr/bin/highlight -O ansi %s 2>/dev/null"
export QT_QPA_PLATFORMTHEME="gtk2"  # Have QT use gtk2 theme.
export MOZ_USE_XINPUT2="1"  # Mozilla smooth scrolling/touchpads.
export KAGGLE_CONFIG_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/kaggle"  # Kaggle API credentials

# electron
# export ELECTRON_TRASH=trash-cli code

# Android SDK
export ANDROID_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANDROID_SDK_HOME="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ANDROID_SDK_ROOT="${XDG_CONFIG_HOME:-$HOME/.config}/android"
export ADB_VENDOR_KEY="${XDG_CONFIG_HOME:-$HOME/.config}/android"

# Fcitx Input Module
GTK_IM_MODULE=fcitx
QT_IM_MODULE=fcitx
XMODIFIERS="@im=fcitx"
SDL_IM_MODULE=fcitx
GLFW_IM_MODULE=ibus

# Doom emacs
export DOOMDIR="${XDG_CONFIG_HOME:-$HOME/.config}/doom"

# Wine
export WINEPREFIX="${XDG_DATA_HOME:-$HOME/.local/share}/wineprefixes/default"
export FREETYPE_PROPERTIES="truetype:interpreter-version=40"

# Xmonad
export XMONAD_CACHE_DIR="${XDG_CACHE_HOME:-$HOME/.cache}/xmonad"
export XMONAD_CONFIG_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/xmonad"
export XMONAD_DATA_DIR="${XDG_DATA_HOME:-$HOME/.local/share}/xmonad"

# FFF file manager
export FFF_HIDDEN=0

export FFF_KEY_SCROLL_UP2='off'
export FFF_KEY_SCROLL_DOWN2='off'
export FFF_KEY_PARENT2='off'
export FFF_KEY_CHILD2='off'

if command -v trash-put >/dev/null 2>&1; then
  export FFF_TRASH_CMD='trash-put'
else
  export FFF_TRASH_CMD='mv'
fi

# NNN file manager
export NNN_USE_EDITOR=1
export NNN_OPENER=xdg-open
export NNN_TRASH=1
export NNN_COLORS="1234"
export NNN_PLUG='o:fzopen;C:diffs;v:imgview;i:imgur;p:pdfview;m:mediainf;d:dragdrop;e:unarchive;s:suedit;c:cpfile'

# Calibre Ebook Management
export CALIBRE_USE_DARK_PALETTE=1

# Path settings
pathprepend "$HOME/.local/bin" PATH
pathprepend "$HOME/bin" PATH
init_pathprepend "$HOME/.emacs.d/bin" PATH
init_pathprepend "${XDG_CONFIG_HOME:-$HOME/.config}/emacs/bin" PATH
init_pathprepend "${XDG_DATA_HOME:-$HOME/.local/share}/cargo/bin" PATH
init_pathprepend "${XDG_DATA_HOME:-$HOME/.local/share}/gem/bin" PATH
init_pathprepend "${XDG_DATA_HOME:-$HOME/.local/share}/go/bin" PATH
init_pathprepend "${XDG_DATA_HOME:-$HOME/.local/share}/npm/bin" PATH
init_pathprepend "$PNPM_HOME" PATH
init_pathprepend "$ANDROID_HOME/platform-tools" PATH
init_pathprepend "$PYENV_ROOT/bin" PATH

# Switch escape and caps if tty and no passwd required:
sudo -n loadkeys "${XDG_DATA_HOME:-$HOME/.local/share}/kbd/keymaps/ttymaps.kmap" 2>/dev/null

# Enable homebrew.
find_and_init_brew

{{- if eq .chezmoi.os "darwin" }}
pathprepend "/usr/local/opt/python/libexec/bin" PATH
pathprepend "$(brew --prefix)/opt/coreutils/libexec/gnubin" PATH
pathprepend "$(brew --prefix)/opt/moreutils/libexec/gnubin" PATH
pathprepend "$(brew --prefix)/opt/findutils/libexec/gnubin" PATH
pathprepend "$(brew --prefix)/opt/gnu-sed/libexec/gnubin" PATH
{{- end }}

# Enable Nix
ssource "$HOME/.nix-profile/etc/profile.d/nix.sh"

# load login.d environment
if [ -d "${XDG_CONFIG_HOME:-$HOME/.config}/shell/login.d" ]; then
  for i in "${XDG_CONFIG_HOME:-$HOME/.config}/shell/login.d"/* ; do
    ssource "$i"
  done
  unset i
fi
