[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "https://github.com/NvChad/starter.git"

{{- if eq .chezmoi.os "linux" }}
[".config/mpv"]
    type = "git-repo"
    url = "git@github.com:NikkiSatmaka/mpv-config.git"
    private = true
{{- end }}

{{- if eq .chezmoi.os "windows" }}
["AppData/Roaming/mpv"]
    type = "git-repo"
    url = "git@github.com:NikkiSatmaka/mpv-config.git"
{{- end }}
