[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

[".config/git/gitalias"]
    type = "file"
    url = "https://github.com/GitAlias/gitalias/raw/main/gitalias.txt"
    refreshPeriod = "168h"

[".config/nvim"]
    type = "git-repo"
    url = "github.com-personal:NikkiSatmaka/nvim.git"
    private = true

{{- if eq .chezmoi.os "linux" }}
[".config/mpv"]
    type = "git-repo"
    url = "github.com-personal:NikkiSatmaka/mpv-config.git"
    private = true
{{- end }}

{{- if eq .chezmoi.os "windows" }}
["AppData/Roaming/mpv"]
    type = "git-repo"
    url = "github.com-personal:NikkiSatmaka/mpv-config.git"
    private = true
{{- end }}
