{{- if eq .chezmoi.os "linux" -}}

[".local/share/fonts/FiraCode"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraCode.tar.xz"
    format = "tar.xz"
    exact = true
    private = true
    stripComponents = 0
    refreshPeriod = "168h"
    include = ["*.ttf", "*.otf"]

{{- end }}
