{{- if eq .chezmoi.os "linux" -}}

[".config/fontconfig/conf.d/10-nerd-font-symbols.conf"]
    type = "file"
    url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/refs/heads/master/10-nerd-font-symbols.conf"
    refreshPeriod = "168h"

{{- end }}
