[Desktop Entry]
Type=Application
Name=nnn
Comment=Launches the nnn file manager
Icon=utilities-terminal
Terminal=true
Exec=nnn
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim
