# If not running interactively, don't do anything
[[ $- != *i* ]] && return

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.config/zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# To customize prompt, run `p10k configure` or edit ~/.config/zsh/.p10k.zsh
ssource "${XDG_CONFIG_HOME:-$HOME/.config}/zsh/.p10k.zsh"

# Enable linuxbrew completion.
if command -v brew > /dev/null 2>&1; then
  FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi

ssource "${XDG_CONFIG_HOME:-$HOME/.config}/zsh/interactive_zinit"

# Initialize completion
autoload -Uz compinit
[[ ! -d $ZSH_CACHE_DIR ]] && command mkdir -p "$ZSH_CACHE_DIR"
{{ if eq .chezmoi.os "darwin" -}}
compinit -u
{{ else -}}
compinit -d "${XDG_CACHE_HOME:-$HOME/.cache}/zsh/zcompdump-${ZSH_VERSION}"
{{ end -}}
zstyle ':completion:*' menu select=4
zmodload zsh/complist

. "${XDG_CONFIG_HOME:-$HOME/.config}/shell/interactive"

ssource "${XDG_CONFIG_HOME:-$HOME/.config}/zsh/interactive_local"
