# -*-mode:gitconfig-*- vim:ft=gitconfig

# ~/.gitconfig
# =============================================================================
# User-specific Git configuration file.
#
# See https://git-scm.com/docs/git-config
#
# {{- /* This file supports Go's text/template language. */ -}}
#
# Sources:
#     https://delicious-insights.com/en/posts/mastering-git-submodules/
#     https://github.com/haacked/dotfiles
#     https://github.com/holman/dotfiles
#     https://github.com/jayharris/dotfiles-windows
#     https://github.com/mathiasbynens/dotfiles
#     https://git-scm.com/docs/git-config/

[diff]
mnemonicPrefix = true
wordRegex = "[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"
compactionHeuristic = true
tool = nvimdiff

[difftool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[color]
ui = true

[color "grep"]
match = cyan bold
selected = blue
context = normal
filename = magenta
linenumber = green
separator = yellow
function = blue

[filter "lfs"]
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
clean = git-lfs clean -- %f

[pretty]
line = "%C(auto)%h %<|(60,trunc)%s %C(green)%ad%C(auto)%d"
detail = "%C(auto)%h %s%n  %C(yellow)by %C(blue)%an %C(magenta)<%ae> [%G?] %C(green)%ad%n %C(auto)%d%n"

[merge]
defaultToUpstream = true
tool = nvim
args = '-d'
conflictstyle = zdiff3

[mergetool]
# Avoid saving an `.orig` backup file after a merge.
keepBackup = false

[mergetool "nvimdiff"]
cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[commit]
template = ~/.config/git/message

[pull]
ff = only

[push]
default = upstream

[grep]
lineNumber = true

[advice]
detachedHead = false
waitingForEditor = false

[user]
# Specify the username of the author/committer.
name = "{{ .name }}"
# Specify the email address of the author/committer.
email = "{{ .git.email }}"

[init]
defaultBranch = main

[credential]
helper = cache --timeout=3600

[http]
cookieFile = ~/.config/git/cookies

[core]
pager = delta
editor = nvim
# Use custom `.gitignore` and `.gitattributes`
attributesfile = ~/.config/git/attributes
excludesfile = ~/.config/git/ignore

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true
dark = true
line-numbers = true

[color "diff-highlight"]
oldNormal = red bold
oldHighlight = red bold 52
newNormal = green bold
newHighlight = green bold 22

[color "diff"]
meta = 11
frag = magenta bold
func = 146 bold
commit = yellow bold
old = red bold
new = green bold
whitespace = red reverse

[include]
# Include aliases.
path = ~/.config/git/gitalias

# Include extra configuration (if any).
path = ~/.config/git/config_local

[url "git@github.com-personal:{{ .git.github_username }}"]
insteadOf = https://github.com/{{ .git.github_username }}
insteadOf = git@github.com:{{ .git.github_username }}

[url "git@github.com:"]
insteadOf = https://github.com/

[url "git@gitlab.com:"]
insteadOf = https://gitlab.com/

[url "git@bitbucket.org:"]
insteadOf = https://bitbucket.org/

[url "ssh://git@github.com-{{ .work.company }}/{{ .work.github_org }}"]
insteadOf = ssh://git@github.com/{{ .work.github_org }}

[includeIf "gitdir:~/workspace/{{ .work.company }}/"]
path = ~/workspace/{{ .work.company }}/.gitconfig
