#!/usr/bin/env bash
# -*- coding: utf-8 -*-

{{ if ne .chezmoi.hostname "avalon" -}}
echo "Syncing Upload $HOME/Documents/calibre_library to gdrive_rfid:entertainment/books/calibre_library"
rclone sync -Pv $HOME/Documents/calibre_library gdrive_rfid:entertainment/books/calibre_library
{{ else -}}
echo "Syncing Upload $HOME/data/calibre_library to gdrive_rfid:entertainment/books/calibre_library"
rclone sync -Pv $HOME/data/calibre_library gdrive_rfid:entertainment/books/calibre_library
{{ end -}}
read
